body{
    background-color: white;
    width:100%;
}
nav{
    list-style: none;
    position: fixed;
    top: 5px;
    width: 100%;
    text-align: center;
}
nav li {
    display: inline-block; 
}
nav li a{  
    float: left;  
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    background-color:rgb(245, 245, 245);
    color: black;
}
img{
    float: left;
    width: 40%;
    margin-right: 100px;
    margin-top: 50px;
}
h2{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
p{
    margin-top: 0px;
    text-indent: 0.8cm;
    text-align: justify;
}
em{
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
}
ol{
    margin-top: 0px;
}
ol li{
    text-transform: uppercase;
}
.contenedor{
    margin: 50px 200px 100px 200px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
.cabecera{
    margin-bottom: 540px;
}
.cabecera_cuento{
    margin-bottom: 330px;
}
.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 15px;
    padding-top: 250px;
}
.subtitulo{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 15px;
    text-align: center; 
    text-transform: uppercase; 
}
.cuerpo{
    column-count: 2;
    margin-bottom: 20px;
}
.col1{
    text-transform: uppercase;
}
.texto{
    column-count: 3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cabecera_glosario{
    margin-bottom: 80px;
    margin-top: 80px;
    height: 50%;
}
.titulo_glosario{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
}
#pict{
    float: right;
    margin-top: 150px;
    width: 30%;
}